{% include 'Fantom/Layouts/header.html.twig' %}

<!--================Header Menu Area =================-->
{% include 'Fantom/Layouts/navigation.html.twig' %}
<!--================Header Menu Area =================-->

{% block postSlider %}{% endblock %}

<!--================Blog Area =================-->
<section class="blog_area p_120">
    <div class="container">
        <div class="row">

            <div class="{% block parentClass %}col-lg-8{% endblock %}">
                {% block content %}{% endblock %}
            </div>

            {% block sidebar %}
                {% include 'Fantom/Layouts/sidebar.html.twig' %}
            {% endblock %}

        </div>
    </div>
</section>
<!--================Blog Area =================-->

{% include 'Fantom/Layouts/footer.html.twig' %}