            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
            </div>
        </div>


        <!-- jQuery -->
        <script src="{{  asset('Gentelella/vendors/jquery/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{  asset('Gentelella/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('Gentelella/build/js/custom.min.js') }}"></script>

        {% block footer %}{% endblock %}

    </body>
</html>