{% extends "Admin/base.html.twig" %}


{% block header %}
    {{ parent() }}

{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <a class="btn btn-primary right" href="{{ path('admin.post.create') }}">
                <span class="fa fa-plus"></span>
                Add New Post
            </a>

            <div class="x_panel">

                <div class="x_title">

                    <h2>Articles</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Slug</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

